@font-face {
  font-family: "Vazirmatn-Black";
  src: url("../fonts/vazirmatn/Vazirmatn-Black.ttf");
}
@font-face {
  font-family: "Vazirmatn-Bold";
  src: url("../fonts/vazirmatn/Vazirmatn-Bold.ttf");
}
@font-face {
  font-family: "Vazirmatn-Regular";
  src: url("../fonts/vazirmatn/Vazirmatn-Regular.ttf");
}
@font-face {
  font-family: "Vazirmatn-ExtraLight";
  src: url("../fonts/vazirmatn/Vazirmatn-ExtraLight.ttf");
}
@font-face {
  font-family: "Vazirmatn-ExtraBold";
  src: url("../fonts/vazirmatn/Vazirmatn-ExtraBold.ttf");
}
@font-face {
  font-family: "Vazirmatn-Light";
  src: url("../fonts/vazirmatn/Vazirmatn-Light.ttf");
}
@font-face {
  font-family: "Vazirmatn-Medium";
  src: url("../fonts/vazirmatn/Vazirmatn-Medium.ttf");
}
@font-face {
  font-family: "Vazirmatn-SemiBold";
  src: url("../fonts/vazirmatn/Vazirmatn-SemiBold.ttf");
}
@font-face {
  font-family: "Vazirmatn-Thin";
  src: url("../fonts/vazirmatn/Vazirmatn-Thin.ttf");
}
/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}
a{
  text-decoration: none;
}

html{
  font-size: 10px;
}
svg{
  width: 20px;
  height: 20px;
}
img{
  width: 100%;
}
/* App Css */
body{
  font-family: "vazir", sans-serif;
  font-size: 1.6rem;
}
.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.top-nav{
  display: flex;
  justify-content: center;
  padding: 8px;
  width: 100%;
  background-color: #edcc00;
}
.top-nav div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 740px;
  width: 100%;
}
.top-nav div p{
  font-size: 1.4rem;
  color: #323232;
}
.top-nav__button{
  display: flex;
  align-items: center;
  padding: 4px 1.4rem;
  border: 2px solid #323232;
  border-radius: 5rem;
}
.top-nav__button span{
  color: #323232;
  font-family: "vazir";
  font-size: 1.2rem;
  font-weight: 700;
  white-space: nowrap;
  background-color: transparent;
}
.nav{
  max-width: 144rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1.6rem;
}
.nav .logo{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  margin-left: 1rem;
}
.nav .logo img{
  width: 100%;
}

.search{
  background-color: #f5f5f5;
  height: 4rem;
  border-radius: 5rem;
  padding: 1rem 1.6rem;
  display: flex;
  gap: 1rem;
  align-items: center;
  max-width: 35rem;
  width: 100%;
}
.search label{
  display: flex;
}
.search input{
  background-color: transparent;
  outline: none;
  font-family: vazir;
  font-size: 1.4rem;
}
.nav-left{
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
.info-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
  border-radius: 100%;
  background-color: #f5f5f5;
}
.login{
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.4rem;
}
.login a:first-child{
  color: #323232;
}
.login a:last-child{
  background-color: #108abe;
  color: #fff;
  padding: 0.4rem 1.6rem;
  border-radius: 2rem;
  white-space: nowrap;
  font-size: 1.4rem;
  font-weight: 700;
}
/* header content */
.header-content{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #36454f;
  background-color: black;
  /* /////////////////////////////////// */
  height: 34.4rem;
  width: 100%;
}
.header-content>div{
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 105.2rem;
  width: 100%;
  /* height: 100%; */
}
.header-content__right{
  max-width: 56.6rem;
  line-height: 2;
  color: #fff;
}
.header-content__right h2{
  font-family: 'Vazirmatn-Black';
  font-size: 4rem;
  margin-bottom: 2.4rem;
}

.header-content__left{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.header-content__left a{
  white-space: nowrap;
  color: #fff;
  display: flex;
  gap: 1rem;
  align-items: center;
  background-color: #0e6aa6;
  border-radius: 3rem;
  padding: 0.5rem 1.6rem;
  font-size: 1.2rem;
}

/* ------------------ Main ------------ */

.main-container{
  max-width: 144rem;
  align-items: flex-start;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}
.main-right{
  width: 75%;
  height: 100%;
  padding: 4.8rem 14.4rem;
}
.main__window{
  padding: 1rem 1rem 1rem 0;
  display: flex;
  align-items: center;
  width: 100%;
}
.main__window h3{
  font-size: 1.8rem;
  font-weight: 700;
  color: #323232;
  margin-left: 1.6rem;
  white-space: nowrap;
}
.main__window h3 span{
  font-size: 1.2rem;
  font-weight: 400;
  color: #8e8e8e;
}
.main__window>span{
  width: 100%;
  height: 0.1rem;
  background-color: #8e8e8e;
}
.main--profile{
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1.6rem;
  overflow: hidden;
}
.main-profile--wrapper{
  position: relative;
}
.main-profile--wrapper>span{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -1.6rem;
  top: 50%;
  transform: translateY(-50%);
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 100%;
  background-color: #fff;
  color: #323232;
  border: 0.1rem solid #e1e1e1;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.main--profile>div{
  border: 0.2rem solid black;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.main--profile div div{
  width: 6.4rem;
  height: 6.4rem;
  border: 0.1rem solid #fff;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  object-fit: cover;
}
.main--profile div div img{
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.main-post{
  margin-top: 1.6rem;
  padding: 1rem;
  padding-bottom: 2.5rem;
  border-bottom: 0.1rem solid #eaeaea;
}

.main-post__top,
.main-post__center,
.main-post__bottom{
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.main-post__top span:first-child{
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  object-fit: cover;
  overflow: hidden;
}
.main-post__top span{
  font-size: 1.2rem;
  color: #323232;
}
.main-post__top span:nth-child(3){
  color: #6e6e6e;
}
.main-post__center{
  margin: 1rem 0 2rem 0;
}
.post-content h4{
  font-size: 1.8rem;
  font-weight: 700;
  color: #323232;
  line-height: 2;
}
.post-content p{
  height: 6rem;
  overflow: hidden;
  font-size: 1.4rem;
  color: #6e6e6e;
  line-height: 2;
}
.post-image img{
  width: 12rem;
}
.post-details{
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-size: 1.2rem;
  color: #323232;
}
.post-details span:first-child{
  display: flex;
  align-items: center;
  height: 2.4rem;
  padding: 0 1.6rem;
  border-radius: 0.4rem;
  background-color: #eaeaea;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}
.main-post__bottom,
.main-post__center{
  justify-content: space-between;
}
.post-details span:last-child{
  color: #6e6e6e;
}
.post-reaction__box{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #6e6e6e;
}
.post-reaction{
  display: flex;
  align-items: center;
  gap: 1rem;
}
/* ---------------------- main left ---------------- */

.main-left{
  padding: 4.8rem 2.5rem;
  width: 25%;
  height: 100rem;
}
.main-left>a{
  height: 15rem;
  width: 100%;
}

.main-left>a img{
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}
.main-left--links{
  margin-top: 1.6rem;
  display: flex;
  flex-wrap: wrap;
}
.main-left--links a{
  padding: 4px 8px;
  background-color: #fafafa;
  color: #6e6e6e;
  font-size: 1rem;
  border-radius: .5rem;
  -webkit-border-radius: .5rem;
  -moz-border-radius: .5rem;
  -ms-border-radius: .5rem;
  -o-border-radius: .5rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
}
.main-left--links a:hover{
  background-color: #f5f5f5;
}
/* --------------music post -------------- */
.music-post{
  margin-top: 2rem;
}
.music-post__top{
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.4rem;
  color: #323232;
  font-weight: 700;
}
.music-post__top span:first-child{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background: #f5f5f5;
  border-radius: 100%;
}
.music-post__top span:first-child svg{
  width: 2.4rem;
  height: 2.4rem;
  color: #8e8e8e;
}
.music-post__center{
  margin-top: 2rem;
  position: relative;
  padding-bottom: 1rem;
  border-bottom: 1px solid #eaeaea;
}
.music-post__pictures{
  display: flex;
  align-items: stretch;
  position: relative;
  gap: 1rem;
  overflow: hidden;
}

.music-post__pictures>div{
  position: relative;
  width: 12rem;
  height: 12rem;
  flex-shrink: 0;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  overflow: hidden;
}
.music-post__pictures div span{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  left: 1rem;
  white-space: nowrap;
  font-size: 1.4rem;
  color: #fff;
  font-weight: 700;
  z-index: 20;
}
.music-post__pictures > div > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.music-post--shadow{
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  height: 50%;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.99), rgba(0, 0, 0, 0.01));
}

.music-change--btn{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-85%);
  -webkit-transform: translateY(-85%);
  -moz-transform: translateY(-85%);
  -ms-transform: translateY(-85%);
  -o-transform: translateY(-85%);
  z-index: 20;
}

.past-btn{
  right: 5px;
}
.past-btn > svg{
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.next-btn{
  left: 5px;
}
.music-post__more{
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.music-post__more h4{
  font-size: 1.4rem;
}
.music-post__more > div{
  display: flex;
  gap: 5px;
  align-items: center;
}
.music-post__more > div > a{
  font-size: 1.2rem;
}
.music-post__more > div > svg{
  width: 1.2rem;
  width: 1.2rem;
}
/* -------------- music bottom ----------- */
.music-bottom > div{
  margin-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.music-bottom img{
  width: 4rem;
  height: 4rem;
  border-radius: 4px;
}
.music-bottom a{
  width: calc(100% - 9.2rem);
}
.music-bottm__title{
  font-size: 1.2rem;
  color: #323232;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.music-bottom a span{
  font-size: 1rem;
  color: #6e6e6e;
}
.music-btn {
  width: 3.2rem;
  height: 3.2rem;
  background-color: #107abe;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.music-btn__pause{
  display: none;
}
.tag-top{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}
.tag-top > span{
  width: 4rem;
  height: 4rem;
  background-color: #f5f5f5;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #8e8e8e;
}
.tag-top > h3{
  font-size: 1.4rem;
  font-weight: 700;
  color: #323232;
}
.tag-bottom{
  margin-top: 1rem;
}
.tag-links{
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.tag-links span a{
  display: block;
  padding: 0 8px;
  height: 2.4rem;
  border: 1px solid #4b4b4b;
  border-radius: 4px;
  line-height: 2;
  color: #4b4b4b;
  font-size: 1.2rem;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.tag-more-box{
  display: flex;
  justify-self: flex-end;
  align-items: center;
  margin-top: 1rem;
  color: #107abe;
  gap: 1rem;
}
.tag-more-box a{
  font-size: 1.2rem;
}
.tag-more-box svg{
  width: 1.2rem;
  height: 1.2rem;
}

@media screen and (max-width: 850px) {
  .main-container{
    flex-direction: column;
  }
  .main-right{
    width: 100%;
    padding: 4rem;
  }
  .main-left{
    width: 100%;
  }
}
@media screen and (max-width: 620px) {
  .header-content__right h2{
    font-size: 3rem;
  }
  .header-content__right p{
    font-size: 1.4rem;
  }
  .header-left__btn{
    gap: 2px;
  }
}
@media screen and (max-width: 600px) {
  .top-nav div{
    flex-direction: column;
  }
  .top-nav div a{
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
@media screen and (max-width: 520px) {
  .top-nav div p{
    text-align: center;
  }
  .nav .logo{
    width: 3rem;
    height: 3rem;
  }
  .search{
    width: 8rem;
    height: 4rem;
    justify-content: center;
  }
  .search input{
    display: none;
  }
  .header-content__right h2{
    font-size: 2.5rem;
  }
  .header-content__right p{
    font-size: 1.2rem;
  }
}
